{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row">
      <div class="col-sm-3" style="border-right: 2px solid black;height: 500px">
        <h1>CATEGORIES</h1>
        {% for category in category %}
          <h3><a href="{{url_for('catalogItems',category_id=category.id)}}">{{ category.name.upper() }} </a></h3>
        {% endfor %}
      </div>
      <div class="col-sm-9">
        <h1 style="color:green"> {{Category_name.name.upper()}} ITEMS</h1>
        <hr style="border:1px solid yellow">
        {% if categoryItems %}
          {% for item in categoryItems %}
            <h3><a href="{{url_for('itemDetails',category_id=item.category_id,item=item.id)}}">{{ item.title.upper() }} </a></h3>
         {% endfor %}
        {% else %}
          <h3>No items in this category</h3>
        {% endif %}
      </div>
    </div>
{% endblock %}
