{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
				{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}

</div>

		<a href="{{ url_for('addCategory') }}"  class="btn btn-info">ADD Category</a>
		<a href="{{ url_for('addItem') }}"  class="btn btn-primary">ADD ITEM</a>
		<h1>CATEGORIES</h1>
		<div class="row text-center" style="display:flex; flex-wrap:wrap">
			{% for category in category %}
				<div class="col-md-2 col-sm6">
				<div class="thumbnail" style="height:185px">
					<img src="https://i.ytimg.com/vi/HbJuCYhSWII/maxresdefault.jpg">
					<div class="caption">
						<h4><a href="{{url_for('catalogItems',category_id=category.id)}}">{{ category.name.upper()}}</a></h4>
					</div>
					{% if loginId == category.user_id %}
					<a href="{{url_for('editCategory',category_id=category.id)}}" class="btn btn-xs btn-warning">EDIT</a> |
					<a href="{{url_for('deleteCategory',category_id=category.id)}}" class="btn btn-xs btn-danger">DELETE</a>
					{% endif %}
				</div>
				</div>
			{% endfor %}
		<!-- <h1>LATEST ITEMS</h1> -->
		<!-- {% for item in items %}
			<h3><a href="{{url_for('itemDetails',category_id=item.category_id,item=item.id)}}">{{ item.title }}  </a></h3>
		{% endfor %} -->

{% endblock %}
