<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '954065624501-8nilgsrfjj34hcv0u2ktdq92ls4ige66.apps.googleusercontent.com'
      });
    });
  }
</script>
</script>

</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('homePage')}}">CATALOG</a>
      </div>

      <!-- <ul class="nav navbar-nav navbar-right">
        {% if username %}
        <li><a href="{{url_for('gdisconnect')}}"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
        {% endif %}
        {% if loginId %}
  		    <li><a href="{{url_for('gdisconnect')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
        	<li><a href="{{url_for('loginRoute')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul> -->
    </div>
  </nav>

  <h3 style="color=blue"> SIGIN IN WITH GOOGLE:
    <button id="signinButton" class="btn btn-danger"><i class="fa fa-google-plus"></i> Google+</button>
   </h3>

  <div id="result"></div>


<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
</body>
</html>
